// default config file for nextflow

trace.overwrite = true

report {
    enabled = true
    overwrite = true
    file = "reports/report.html"
}
timeline {
    enabled = true
    overwrite = true
    file = "reports/timeline.html"
}
dag {
    enabled = true
    overwrite = true
    file = "reports/dag.png"
}

user = System.getenv('USER')
workDir = "/scratch/alpine/${user}/cef_strains/work"

// Bind paths for /scratch/alpine, /projects, /pl/active are configured
// system-wide in /etc/apptainer/apptainer.conf on Alpine - no runOptions needed
apptainer.autoMounts = true

process { // miniforge always required when loading conda env (Alpine batch and interactive)
    module = 'miniforge'
}

params {
    nanop_env = '/projects/.colostate.edu/dcking/software/anaconda/envs/nanop'
    medaka_sif = '/projects/.colostate.edu/dcking/software/containers/medaka_latest.sif'
}

profiles {
    // Testing profile for local execution
    testing {
        process.executor = 'local'
        conda.enabled = true
        apptainer.enabled = true
        // can't set process.conda globally now, since we're using the medaka image for the process
        // use 'conda' OR 'container' directive per process, i.e.:
        // process A {
        //    conda '/projects/.colostate.edu/dcking/software/anaconda/envs/nanop'
        //    ...
        // process B {
        //    container 'sifpath'
        //    ...
        //process.conda = '/projects/.colostate.edu/dcking/software/anaconda/envs/nanop'

        def availCpus = Runtime.getRuntime().availableProcessors()
        process.cpus = availCpus
        process.memory = { 3840.MB * availCpus }

    }

    // Slurm profile for HPC execution
    slurm {
        process.executor = 'slurm'
        conda.enabled = true
        apptainer.enabled = true
        process.clusterOptions = '--qos=normal'
        process.queue = 'amilan'
        executor.queueSize = 50
        executor.submitRateLimit = '5/1min'

        process {
            cpus = 4
            memory = { 3400.MB * task.cpus }
            time = '2h'
            errorStrategy = 'retry'
            maxRetries = 2
            maxForks = 4

            withName: 'FLYE.*' {
                cpus = 8
                memory = { 3400.MB * task.cpus }
                time = '2h'
            }

            withName: 'MEDAKA' {
                cpus = 8
                memory = { 3400.MB * task.cpus }
                time = '4h'
            }
        }
    }
}
